html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family:sans-serif;
}

#root {
    height: 100%;
}

.kl-base .kl-row > .kl-split > * {
    height: 100% !important;
    overflow: auto;
}