@import "theme.scss";

:root {
    color: $body-text;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000055;
}

.root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $primary;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header {
        background-color: $primary;
        height: 50px;
        box-shadow: 0px 1px 3px 0px #36363650;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}

.split {
    height: 100% !important;
}

.editor {
    height: 100%;
}

.kod-md {
    height: 100%;
    overflow: auto;
}

.editor-body {
}

.page-tab {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.kod-md {
    content: "asd";
    div:has(code[class^="language"]) {
        background-color: rgb(27 29 34) !important;
        code {
            background-color: transparent !important;
        }
    }
    code.inline {
        white-space: nowrap;
    }
}

.kl-base {
    .kl-header {
        display: flex;
        width: 100%;
    }
    .kl-row, .kl-column {
        height: unset !important;
        flex-grow: 1 !important;
        overflow: auto !important;
    }
}